@font-face {
    font-family: Gotham-regular;
    src: url(/font/GothaProReg.otf);
}
  
@font-face {
    font-family: Gotham-medium;
    src: url(/font/GothaProMed.otf);
}
  
@font-face {
    font-family: Gotham-light;
    src: url(/font/GothaProLig.otf);
}
  
@font-face {
    font-family: Gotham-bold;
    src: url(/font/GothaProBol.otf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.exchange {
    padding-top: 10%;;
}

.exchange > h1 {
    font: 30px Gotham-bold;
}

.exchange > h2 {
    font: 25px Gotham-bold;
    margin-top: 5%;
}


.currency {
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.row {
    display: flex;
    flex-direction: row;
 

}
.from {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.to {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.convert {
    display: flex;
    align-self: flex-end;
}

.change {
    display: flex;
    align-self: flex-end;
    width: 20px;
}


.icon-2 {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 20%;

}

.icon-1 {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 20%;
    background-color: white;

}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}